*{
    box-sizing: border-box;
}

body{
    font-family: 'Titillium Web', sans-serif;

    font-weight: 100;
    
}

h1{
    font-size: 5em;
    font-weight: 100;
    margin: 0;
}

h2{ 
    font-size: 4em;
    font-weight: 100;
    margin: 0;
}

h3{
    font-size: 3em;
    font-weight: 100;
    margin: 0;    
}

/*ID Selectors*/
#heading{
    background-image: url('../images/bg-wide.JPG');
    background-repeat: no-repeat;
    padding: 40px 0 60px;
    color: white;
    text-align: center;
    width: 100%;
    
}

#projects{
    
    font-weight: normal;
    background-color: rgba(94, 65, 47, .5);    
}

#proj-list{
    padding: 50px;
}

#proj-list li{
    display: inline-flex;
    padding: 50px;
}

#quote{
    font-size: 2em;
    margin: 50px 0 0 0;
}
/*CLASS selectors*/
.highlight-text{
    color: #F07818;
}

.center{
    text-align: center;
}

.pr-img{
    border:5px solid #2E1D15;
    border-radius: 50%;
}

.pr-heading{
    font-size: 1.5em;
}
